
.first-tere-container {
    
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding-left: 90px;
    padding-right: 90px;
}
li {
    list-style: none;
    display: inline;
   align-items: center;
   margin-bottom: 30px;
   justify-content: center;
   
   
   
}
a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
    color: #000000;

    



}
.logo-tere {
    
    align-content: center;
    font-weight: 100px;
}
body{
    margin: 0;
}
.ul-links{
    justify-content: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 220px;
    height: 75px;
    background-color:#75BF7A ;
    color:#FFFFFF ;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    margin: 0px;
}
.second-container{
    display: flex;
    justify-content:center;
    gap: ;
    background-color:rgb(249, 248, 248) ;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-between;
}
.box-one {

width: 700px;
padding-top: 50px;


}
.box-second {

width: 700px;
display: flex;
justify-content: center;
padding-top: 50px;

}
h2 {
    font-size: 60px;
    font-family: sans-serif;
}
.paragraph-one {
    font-family:  sans-serif;
    font-size: 45;
    
    width: 80%;
    color:#9E9DA2 ;

}
.my-button {
     background-color:#000000 ;
     flex-direction: row;
     width: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     height: 60%;

}
.button-div-container {
    display: flex;
    justify-content: space-between;
    justify-items: end;
    height: 120px;
    justify-content: end;
    align-items: end;
    gap: 15%;
    margin-top: 40px;

}
span{
    font-size: 25px;
    
}
.third-container {
padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 170px;
    background-color:rgb(249, 248, 248) ;
    
}
.sub-third-container{
    height: 210px;
    background-color:#75BF7A ;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.third-para {
font-size: 30px;
font-family: sans-serif;
color: #FFFFFF;
}
.placeholder-third {
padding-left: 200px;
padding-right: 200px;
height: 70px;
border-radius: 10px;
border: 0px;
font-size: 25px;
}
.my-button-three {
     background-color:#000000 ;
     flex-direction: row;
     width: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     height: 40%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
}
.fourth-container {
    height: 250px;
    padding-left: 90px;
    padding-right: 90px;
    background-color:rgb(249, 248, 248) ;
}
.sub-forth-container {
    display: flex;
    flex-direction: column;
    height: 100px;
}
.forth-head{
text-align: center;
margin: 0px;
}
.forth-para {
text-align: center;
color: #9E9DA2;
font-size: 23px;
font-family: sans-serif;
margin-top:24px;
padding-bottom: 30px;
}
.span-two{
color: #75BF7A;
font-size: 50px;
}
.fifth-container{
padding-left: 90px;
    padding-right: 90px;
    background-color:rgb(249, 248, 248) ;
}
.sub-fifth-container{
height: 800px;
display: flex;
align-items: center;
justify-content: center;
justify-content: space-around;
}
.sub-fif-one{
border: 5px solid slateblue;
width: 30%;
}
.sub-fif-two {
background-color:  #75BF7A ;
border-radius: 1000%;
width: 480px;
height: 480px;
justify-content: center;
align-items: center;
justify-self: center;
align-content: center;
display: flex;

}
.sub-fif-three {

width: 30%;
}
.img-style {
    align-self: center;
}
.fif-head-1 {
font-size: 30px;
font-family: sans-serif;

}
.fif-head-2 {
font-size: 30px;
font-family: sans-serif;

}
.fif-head-3{
font-size: 30px;
font-family: sans-serif;

}
.fif-head-4 {
font-size: 30px;
font-family: sans-serif;

}
.icon {
    width: 14%;
}
.para {
    font-size: 18px;
    font-family: sans-serif;
    color: #9E9DA2;
}
.six-container {
padding-left: 90px;
    padding-right: 90px;
    background-color:rgb(249, 248, 248) ;
}
.sub-six-container{
height: 200px;
}
.benefits-head{
text-align: center;
font-family: sans-serif;
}
.span-f {
font-size: 58px;
color: #75BF7A;
font-family: sans-serif;
}
.seven-container {
padding-left: 200px;
    padding-right: 200px;
    background-color:rgb(249, 248, 248) ;
}
.sub-seven-cont{
height: 1490px;

}
.sub-sub-1 {
height: 304px;
width: 1060px;
display: flex;
justify-content: space-around;
background-color: #FFFFFF;
}
.sub-sub-2{
height: 304px;
width: 1060px;
display: flex;
justify-self: center;
margin-top: 80px;
justify-content: space-around;
background-color: #FFFFFF;

}
.sub-sub-3{
height: 304px;
width: 1060px;
margin-top: 80px;
background-color: #FFFFFF;
}
.sub-part-1{

font-size: 20px;
color: #9E9DA2;
}
.sub-part-2 {
display: flex;
justify-content: center;


}
.part{
    
    height: 190px;
    display: flex;
}
.part-1 {

font-size: 90px;
display: flex;
color: #75BF7A;

}
.part-2 {
    
    font-size: 40px;
    padding-top: 38px;
    color: #000000;
}
.center-part-1{
width: 350px
}
.center-part-2 {
width: 380px
}
.amount {
    display: flex;
    justify-self: center;
    text-align: end;
    height: 260px;
}
.sub-center-1 {
 font-size: 90px;
 color: #75BF7A;
    

}
.sub-center-2 {
font-size: 49px;
padding-top: 45px;
}
.head-down{
font-size: 20px;
color: #9E9DA2;
}
.main-sub {
    display: flex;
    height: 180px;
}
.sub-sub-3 {
    display: flex;
    justify-content: space-around;
    
}
.sub-3-1-part{
height: 290px;
width: 440px;
font-size: 20px;
color: #9E9DA2;
}
.sub-3-2-part {
height: 296px;
width: 340px;
}
.frame{
    height: 290px;
    padding-top: 23px;
} 
.last{
    display: flex;
    height: 190px;
}
.last-1{
font-size: 83px;
color: #75BF7A;

}
.last-2{
font-size: 40px;
font-family: sans-serif;
padding-top: 25px;
color: #000000;
}
.below-last-2{

}
.eight-container{

height: 360px;
display: flex;
justify-content: center;
align-items: center;
gap: 120px;


}
.eight-part-1{
display: flex;
}
.eight-part-2{
display: flex;
gap: 40px;
}
.eight-part-3{
display: flex;
gap: 60px;
}
.black{
    font-size: 90px;
    padding: 30px;
}
.one{
display: flex;
flex-direction: column;
padding: 25px;
}
.two{
display: flex;
flex-direction: column;
padding: 25px;
}
.link{
color: #9E9DA2;
font-family: serif;
font-size:20px ;
padding-bottom: 15px;
}
.heading{

font-size: 28px;
font-family:sans-serif ;
font-weight: 500;
margin-bottom: 20px;
}
.footer-buton-1{
height: 70px;
width: 280px;
background-color: #000000;
display: flex;
justify-content: center;
gap: 16px;

}
.footer-buton-2{
background-color: #000000;
display: flex;
justify-content: center;
height: 70px;
width: 280px;
gap: 16px;
}
.footer-span{
align-content: center;
}
.foo{
    height: 50px;
    align-self: center;
    display: flex;
    align-content: center;
    font-size: 10px;
}
.nine-container{
height: 180px;
}
.sub-nine-container{
height: 40px;
color: #75BF7A;
font-size: 20px;
text-align: center;
font-family: sans-serif;
}