
.first-tere-container {
    
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding-left: 90px;
    padding-right: 90px;
}
li {
    list-style: none;
    display: inline;
   align-items: center;
   margin-bottom: 30px;
   justify-content: center;
   
   
   
}
a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
    color: #000000;

    



}
.logo-tere {
    
    align-content: center;
    font-weight: 100px;
}
body{
    margin: 0;
}
.ul-links{
    justify-content: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 220px;
    height: 75px;
    background-color:#75BF7A ;
    color:#FFFFFF ;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    margin: 0px;
}
.second-container{
    display: flex;
    
    justify-content:center;
    gap: ;
    background-color:rgba(219, 207, 207, 0.111) ;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-between;
}
.box-one {

width: 700px;
border: 2px solid rgba(219, 207, 207, 0.111);
padding-top: 50px;


}
.box-second {

width: 700px;
display: flex;
justify-content: center;
border: 2px solid rgba(219, 207, 207, 0.111);
padding-top: 50px;

}
h2 {
    font-size: 60px;
    font-family: sans-serif;
}
.paragraph-one {
    font-family:  sans-serif;
    font-size: 45;
    
    width: 80%;
    color:#9E9DA2 ;

}
.my-button {
     background-color:#000000 ;
     flex-direction: row;
     width: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     height: 60%;

}
.button-div-container {
    display: flex;
    justify-content: space-between;
    justify-items: end;
    height: 120px;
    justify-content: end;
    align-items: end;
    gap: 15%;
    margin-top: 40px;

}
span{
    font-size: 25px;
    
}
.third-container {
padding-left: 90px;
    padding-right: 90px;
    
    padding-top: 110px;
    padding-bottom: 170px;
    
}
.sub-third-container{
    height: 210px;
    background-color:#75BF7A ;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.third-para {
font-size: 30px;
font-family: sans-serif;
color: #FFFFFF;
}
.placeholder-third {
padding-left: 200px;
padding-right: 200px;
height: 70px;
border-radius: 10px;
border: 0px;
font-size: 25px;
}
.my-button-three {
     background-color:#000000 ;
     flex-direction: row;
     width: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     height: 40%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
}
.fourth-container {
    height: 250px;
    
    padding-left: 90px;
    padding-right: 90px;
}
.sub-forth-container {
    display: flex;
    flex-direction: column;
    height: 100px;
}
.forth-head{
text-align: center;
margin: 0px;
}
.forth-para {
text-align: center;
color: #9E9DA2;
font-size: 23px;
font-family: sans-serif;
margin-top:24px;
padding-bottom: 30px;
}
.span-two{
color: #75BF7A;
font-size: 50px;
}
.fifth-container{
padding-left: 90px;
    padding-right: 90px;
}
.sub-fifth-container{
height: 800px;

display: flex;
align-items: center;
justify-content: center;
justify-content: space-around;
}
.sub-fif-one{

}
.sub-fif-two {
background-color:  #75BF7A ;
border: 5px solid #75BF7A;
border-radius: 1000%;
width: 480px;
height: 480px;
justify-content: center;
align-items: center;
justify-self: center;
align-content: center;
display: flex;

}
.sub-fif-three {

}
.img-style {
    align-self: center;
}
.fif-head-1 {
font-size: 30px;
font-family: sans-serif;
}
.fif-head-2 {
font-size: 30px;
font-family: sans-serif;
}
.fif-head-3{
font-size: 30px;
font-family: sans-serif;
}
.fif-head-4 {
font-size: 30px;
font-family: sans-serif;
}
.icon {
    
}